{{ partial "header-default" . }}

<section class="sensores">
    <div class="div-table-sensores">
    <h1>Fonte</h1>
    <table class="fontes-table">
            <tr>
                <th>name</th>
                <td>{{ .Params.source.name }}</td>
            </tr>
            <tr>
                <th>id</th>
                <td>{{ .Params.source.id }}</td>
            </tr>
            <tr>
                <th>created_at</th>
                <td>{{ .Params.source.created_at }}</td>
            </tr>
        </table>

    <h1> Sensor {{ .Title }} </h1>
    <table class="sensores-table">
        <tr>
            <th>source_id</th>
            <td>{{ .Params.source_id }}</td>
        </tr>
        <tr>
            <th>name</th>
            <td>{{ .Params.name }}</td>
        </tr>
         <tr>
            <th>id</th>
            <td data-id="{{ .Params.id }}">{{ .Params.id }}</td>
        </tr>
         <tr>
            <th>created_at</th>
            <td>{{ .Params.created_at }}</td>
        </tr>
         <tr>
            <th>sensor_type</th>
            <td>{{ .Params.sensor_type }}</td>
        </tr>
         <tr>
            <th>description</th>
            <td>{{ .Params.description }}</td>
        </tr>
        {{ with .Params.location }}
         <tr>
            <th>location</th>
            <td>{{ . }}</td>
        </tr>
        {{end}}
    </table>
    <table class="leituras-table">
         <tr>
             <th id="bb"></th>
            <td id="abc"></td>
        </tr>
    </table>

    <h1>Leituras</h1>
    <table id="leituras" class="leituras-table">
            <tbody>

            </tbody>
          </table>



      <script src="https://unpkg.com/axios/dist/axios.min.js"> </script>

      <script>


        axios.get('https://dtupa.eokoe.com/sensor/{{ .Params.id }}/sample')
          .then(function (response) {
            results = response.data.results;
            leituras = document.querySelector('#leituras');
            tbody = '';

            Object.keys(results).forEach(function(key) {
                tbody += '<tbody class="lala">';
                Object.keys(results[key]).forEach(function(innerKey) {

                    console.log(innerKey + ': ' + results[key][innerKey]);
                    tbody += "<tr><th>" + innerKey + "</th><td>" + results[key][innerKey] + "</td></tr>";
                    });
                tbody += '</tbody>'
            });

        leituras.innerHTML = tbody;

    });
    </script>

    </div>
</section>

{{partial "footer-default" . }}
