{{ partial "header-default" . }}

<section class="districts">
  <h1> {{ .Title }} </h1>
  <ul class="district-list">


  </ul>

  <div class="main-loader main-loader--specific-sensores disabled">
    <span class="main-loader__text">
      Carregando...
    </span>
  </div>
  <table id="especific-sensores" class="leituras-table">
    <tbody></tbody>
  </table>

  <table id="leituras" class="leituras-table">
    <tbody></tbody>
  </table>

  <div id="no-data" class="div-no-data"></div>

</section>


<script src="https://unpkg.com/axios/dist/axios.min.js"> </script>

<script>
  var sensors = [
    {{ range .Params.sensors }}
    	{{ . }},
    {{ end }}
  ];
  var districts = [
    {{ range .Params.districts }}
    	{{ . }},
    {{ end }}
  ];
</script>

<script>

  function toggleSpecificSensorLoading() {
    const loaderSpecificSensor = document.querySelector('.main-loader--specific-sensores');
    loaderSpecificSensor.classList.toggle('disabled');
  }

  toggleSpecificSensorLoading();
  axios.get('https://dtupa.eokoe.com/zone/{{ .Params.id }}/sensor?no_paging=1')
    .then(function (response) {
      const results = response.data.results;
      const especificSensores = document.querySelector('#especific-sensores');
      const noData = document.querySelector('#no-data');
      let tbody = '';

      if(results == null || results == '') {
        noData.innerHTML = 'Sem dados no momento!';
      } else {
        results.forEach((result) => {
          tbody += `
                    <tr>
                      <th>
                            <h2>
                                    <a href="/sensores?id=${result.id}">
                                            ${ result.districts[0].name }
                                    </a>
                            </h2>
                      </td>
                    </tr>`;

          function printValues(result) {
            Object.keys(result).forEach((key) => {
              if(!!result[key] && result[key].constructor.name.toLowerCase() === 'object'){
                tbody += "<tr><th>" + key + "</th><td>" + JSON.stringify(result[key]) + "</td></tr>";
              }
              else if (Array.isArray(result[key])) {
                if(typeof result[key] == 'object' && result[key] instanceof Object && !(result[key] instanceof Array)){
                  printValues(result[key]);
                }
                tbody += "<tr><th>" + key + "</th><td>" + JSON.stringify(result[key]) + "</td></tr>";
              }
              else {
                tbody += "<tr><th>" + key + "</th><td>" + result[key] + "</td></tr>";
              }
            });
          }

          printValues(result);

          tbody += `
                    <tr>
                      <th>
                        <a href="/sensores?id=${result.id}" class="link-button">
                          Ver leituras
                        </a>
                      </td>
                    </tr>`;
          especificSensores.innerHTML = tbody;
        })
      }
    })
    .then(() => {
        toggleSpecificSensorLoading();
    });


</script>

</section>



{{partial "footer-default" . }}
