.about-sensor-title {
	color: palette('text-content', 'white');
}

.sensor {
	color: palette('text-content', 'black');

	background-image: image('mockup-interface-2-320px.png'),
	image('elementoa-320px.png'),
	image('elementog-320px.png'),
	image('elementod-320px.png'),
	image('elementob-320px.png'),
	image('elementoc-320px.png'),
	image('elementof-320px.png'),
	image('elementoe-320px.png'),
	image('elementoh-320px.png');
	background-position: top 10% left 50%,
	bottom 70% left 60%,
	top 8% left 15%,
	bottom 70% left 47%,
	top 8% right 18%,
	top 18% right 20%,
	top 27% right 15%,
	top 21% left 24%,
	top 9% left 27%;

	@media screen and (min-width: breakpoint('phablet')) {
		background-image: image('mockup-interface-2-480px.png'),
		image('elementoa-480px.png'),
		image('elementog-480px.png'),
		image('elementod-480px.png'),
		image('elementob-480px.png'),
		image('elementoc-480px.png'),
		image('elementof-480px.png'),
		image('elementoe-480px.png'),
		image('elementoh-480px.png');
		background-position: top 10% left 50%,
		bottom 70% left 60%,
		top 8% left 15%,
		bottom 70% left 47%,
		top 8% right 18%,
		top 18% right 20%,
		top 27% right 10%,
		top 26% left 24%,
		top 9% left 27%;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		background-image: image('mockup-interface-2-640px.png'),
		image('elementoa-640px.png'),
		image('elementog-640px.png'),
		image('elementod-640px.png'),
		image('elementob-640px.png'),
		image('elementoc-640px.png'),
		image('elementof-640px.png'),
		image('elementoe-640px.png'),
		image('elementoh-640px.png');
		background-position: top 10% left 50%,
		bottom 44% left 60%,
		top 8% left 15%,
		bottom 48% left 47%,
		top 8% right 18%,
		top 18% right 20%,
		top 30% right 8%,
		top 35% left 24%,
		top 9% left 27%;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		background-image: image('mockup-interface-2-960px.png'),
		image('elementoa-960px.png'),
		image('elementog-960px.png'),
		image('elementod-960px.png'),
		image('elementob-960px.png'),
		image('elementoc-960px.png'),
		image('elementof-960px.png'),
		image('elementoe-960px.png'),
		image('elementoh-960px.png');
		background-position: top 50% left 15%,
		bottom 22% left 34%,
		top 22% left 8%,
		bottom 22% left 24%,
		top 25% right 55%,
		top 43% right 53%,
		top 70% right 51%,
		top 55% left 12%,
		top 19% left 15%;
	}

	@media screen and (min-width: breakpoint('wide')) {
		background-image: image('mockup-interface-2.png'),
		image('elementoa.png'),
		image('elementog.png'),
		image('elementod.png'),
		image('elementob.png'),
		image('elementoc.png'),
		image('elementof.png'),
		image('elementoe.png'),
		image('elementoh.png');
		background-position: top left 10%,
		bottom 13% left 34%,
		top left,
		bottom 20% left 24%,
		top right 49%,
		top 30% right 50%,
		top 70% right 47%,
		top 55% left 7%,
		top 3% left 11%;
	}
}

.about-sensor {
	background-color: palette('blue', 'base');
	@media screen and (min-width: breakpoint('wide')) {
		padding: 5em;
	}
}

.about-sensor-content {
	width: 100%;

	margin-top: 20em;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-top: 25em;
	}

	h1 {
		font-size: 2.2em;
		line-height: 4rem;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: 35%;

		margin-top: 0;
		margin-left: 35em;

		line-height: 1.5rem;

		h1 {
			font-size: 3em;
			line-height: 4rem;
		}
	}

	@media screen and (min-width: breakpoint('wide')) {
		width: 30%;

		margin-top: 0;
		margin-left: 50em;

		line-height: 1.5rem;

		h1 {
			font-size: 3.4em;
			line-height: 4rem;
		}
	}
}
