.about-app-image {
	display: inline-block;
	margin-left: 15em;
	width: 150px;
	height: 150px;
	padding: 1em;
}
.about-app-content {
	display: inline-block;
	vertical-align: 15px;
	width: 28%;
}
.about-app-icon {
	display: inline-block;
	margin-left: 5em;
	margin-right: 5em;
	vertical-align: 100%;
}
.about-app-google {
	display: inline-block;
	width: 210px;
	padding: 1em;
	margin-top: 5em;
	margin-left: 25em;
}
.about-app-ios {
	display: inline-block;
	width: 200px;
	padding: 1em;
	margin-top: 5em;
}
.about-app-title {
	color: palette('text-content', 'blue-light');
}
