// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
* A region that contains mostly site-oriented content, rather than page-specific content.
*
* Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
*
* Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
*/
[role='banner'] {
}

.site-header {
	height: 90vh;
	min-height: 700px;

	background-image: image('mockup-interface-480px.png'),
	image('elemento-header-3-320px.png'),
	image('elemento-header-7-320px.png'),
	image('elemento-header-2-320px.png'),
	image('elemento-header-5-320px.png'),
	image('elemento-header-1-320px.png'),
	image('elemento-header-6-320px.png'),
	image('elemento-header-4-320px.png'),
	image('elemento-header-8-320px.png'),
	linear-gradient(to bottom, palette('white')52%, palette('blue', 'base') 52%, palette('blue', 'base') 62%, palette('blue', 'medium') 62%, palette('blue', 'medium') 72%, palette('blue', 'dark') 72%, palette('blue', 'dark') 82%, palette('transparent') 82%, palette('transparent') 82%);
	background-position: top 53% left 50%, top 5% left 62%, top 1% left 90%, top 25% left 90%, top 40% left 98%, top 31% left 16%, top 7% left 12%, top 7% left 28%, top 33% left 3%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;

	@media screen and (min-width: breakpoint('phablet')) {
		height: 90vh;
		min-height: 800px;

		background-image: image('mockup-interface-480px.png'),
		image('elemento-header-3-320px.png'),
		image('elemento-header-7-320px.png'),
		image('elemento-header-2-320px.png'),
		image('elemento-header-5-320px.png'),
		image('elemento-header-1-320px.png'),
		image('elemento-header-6-320px.png'),
		image('elemento-header-4-320px.png'),
		image('elemento-header-8-320px.png'),
		linear-gradient(to bottom, palette('white')52%, palette('blue', 'base') 52%, palette('blue', 'base') 62%, palette('blue', 'medium') 62%, palette('blue', 'medium') 72%, palette('blue', 'dark') 72%, palette('blue', 'dark') 82%, palette('transparent') 82%, palette('transparent') 82%);
		background-position: top 60% left 50%, top 7% left 62%, top 3% left 90%, top 30% left 80%, top 40% left 90%, top 32% left 18%, top 7% left 12%, top 7% left 28%, top 33% left 11%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		height: 90vh;
		min-height: 1100px;

		background-image: image('mockup-interface-640px.png'),
		image('elemento-header-3-640px.png'),
		image('elemento-header-7-640px.png'),
		image('elemento-header-2-640px.png'),
		image('elemento-header-5-640px.png'),
		image('elemento-header-1-640px.png'),
		image('elemento-header-6-640px.png'),
		image('elemento-header-4-640px.png'),
		image('elemento-header-8-640px.png'),
		linear-gradient(to bottom, palette('white')52%, palette('blue', 'base') 52%, palette('blue', 'base') 62%, palette('blue', 'medium') 62%, palette('blue', 'medium') 72%, palette('blue', 'dark') 72%, palette('blue', 'dark') 82%, palette('transparent') 82%, palette('transparent') 82%);
		background-position: top 60% left 50%, top 7% left 62%, top 3% left 90%, top 30% left 80%, top 40% left 90%, top 32% left 18%, top 7% left 12%, top 7% left 28%, top 33% left 11%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;
	}


	@media screen and (min-width: breakpoint('desktop')) {
		min-height: 1250px;

		background-image: image('mockup-interface-960px.png'),
		image('elemento-header-3-960px.png'),
		image('elemento-header-7-960px.png'),
		image('elemento-header-2-960px.png'),
		image('elemento-header-5-960px.png'),
		image('elemento-header-1-960px.png'),
		image('elemento-header-6-960px.png'),
		image('elemento-header-4-960px.png'),
		image('elemento-header-8-960px.png'),
		linear-gradient(to bottom, palette('white') 60%, palette('blue', 'base') 60%, palette('blue', 'base') 72%, palette('blue', 'medium') 72%, palette('blue', 'medium') 84%, palette('blue', 'dark') 84%, palette('blue', 'dark') 96%, palette('transparent') 96%, palette('transparent') 96%);
		background-position: top 70% left 50%, top 5% left 66%, top 1% left 99%, top 30% left 80%, top 40% left 90%, top 31% left 20%, top 7% left 10%, top 20% left 17%, top 33% left 8%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 10%;
	}

	@media screen and (min-width: breakpoint('wide')) {
		min-height: 1750px;

		background-image: image('mockup-interface.png'),
		image('elemento-header-3.png'),
		image('elemento-header-7.png'),
		image('elemento-header-2.png'),
		image('elemento-header-5.png'),
		image('elemento-header-1.png'),
		image('elemento-header-6.png'),
		image('elemento-header-4.png'),
		image('elemento-header-8.png'),
		linear-gradient(to bottom, palette('white') 64.3em, palette('blue', 'base') 64.3em, palette('blue', 'base') 79.6em, palette('blue', 'medium') 79.6em, palette('blue', 'medium') 94.9em, palette('blue', 'dark') 94.9em);
		background-position: top 85% left 50%, top 5% left 68%, top 2% left 110%, top 30% left 80%, top 40% left 90%, top 31% left 16%, top 5% left 10%, top 14% left 20%, top 33% left 3%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;
	}

	@media screen and (min-width: breakpoint('super-wide')) {
		min-height: 1750px;

		background-image: image('mockup-interface.png'),
		image('elemento-header-3.png'),
		image('elemento-header-7.png'),
		image('elemento-header-2.png'),
		image('elemento-header-5.png'),
		image('elemento-header-1.png'),
		image('elemento-header-6.png'),
		image('elemento-header-4.png'),
		image('elemento-header-8.png'),
		linear-gradient(to bottom, palette('white') 64.3em, palette('blue', 'base') 64.3em, palette('blue', 'base') 79.6em, palette('blue', 'medium') 79.6em, palette('blue', 'medium') 94.9em, palette('blue', 'dark') 94.9em);
		background-position: top 85% left 50%, top 5% left 62%, top 2% left 99%, top 30% left 72%, top 40% left 80%, top 31% left 24%, top 7% left 12%, top 12% left 28%, top 33% left 15%, top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;
	}
}

.content-header {
	display: block;

	margin-right: auto;
	margin-left: auto;

	text-align: center;

	& img {
		margin-top: 30em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		margin-right: left;
	}

	@media screen and (min-width: breakpoint('wide')) {
		margin-right: left;
	}
}
