// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
* A region that contains mostly site-oriented content, rather than page-specific content.
*
* Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
*
* Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
*/
[role='banner'] {
}

.site-header {
	background-image: linear-gradient(to bottom, palette('white') 64.3em, palette('blue', 'base') 64.3em, palette('blue', 'base') 79.6em, palette('blue', 'medium') 79.6em, palette('blue', 'medium') 94.9em, palette('blue', 'dark') 94.9em);
	background-position: top 5% left 50%, top 4% left 61%, top 2% left 81%, top 30% left 71%, top 40% left 79%, top 33% left 17%;


}

.content-header img {
	position: relative;
	top: 0;
	left: 22em;
	margin-top: 30em;

}

.content-header {
	background-image: image('logo-radar.png'),
	image('elemento-header-3.png'),
	image('elemento-header-7.png'),
	image('elemento-header-2.png'),
	image('elemento-header-5.png'),
	image('elemento-header-8.png'),
	image('elemento-header-6.png'),
	image('elemento-header-4.png');
	background-position: top 5% left 50%, top 5% left 67%, top 2% left 98%, top 30% left 83%, top 40% left 93%, top 33% left, top 7% left 5%, top 12% left 20%;
}


