.districts {
	word-wrap: break-word;
}

.districts h1,
.regioes h1 {
	margin-bottom: 1.5em;

	font-size: 1.3em;

	text-align: left;

	color: palette('blue', 'dark');

	@media screen and (min-width: breakpoint('desktop')) {
		font-size: 2em;
	}
}

.districts h2 {
	@media screen and (min-width: breakpoint('phone')) {
		margin-bottom: 3em;

		font-size: 1.1em;
	}
}

.district-list {
	column-width: 5em;

	columns: 2;
	@media screen and (min-width: breakpoint('wide')) {
		margin-left: 15em;

		column-gap: 17em;
	}

	& a {
		font-weight: 800;

		color: palette('blue', 'base');

		&:link,
		&:visited {
			text-decoration: none;
		}
	}
}

.regioes-list {
	margin-left: 46%;

	font-size: 1.3em;

	column-width: 5em;
	column-gap: 15em;

	columns: 1;


	& a {
		font-weight: 800;

		color: palette('blue', 'base');

		&:link,
		&:visited {
			text-decoration: none;
		}
	}
}

ul {
	list-style: none;
}

li::before {
	display: inline-block;

	width: 1em;

	margin-bottom: 1.5em;
	margin-left: -1em;

	color: palette('blue', 'medium');

	content: '•';
}
