<footer class="footer-site">
    <div class="footer-container">
        <div class="footer-contato">
            <h3>Contato</h3>
            <p>
                Dúvidas, sugestões ou reclamações sobre o funcionamento do aplicativo, entrar em contato com: <a href="mailto:contato@appcivico.com">contato@appcivico.com</a>
            </p>
        </div>

        <div class="footer-parceiro">
            <h3>Parceiros</h3>
            <a class="big-link-parceiro link-parceiro--nicbr" href="https://www.nic.br" target="_blank">NIC.br</a>
            <a class="big-link-parceiro link-parceiro--w3c" href="http://www.w3c.br" target="_blank">W3C</a>
            <a class="big-link-parceiro link-parceiro--appcivico" href="https://appcivico.com" target="_blank">AppCívico</a>

        </div>
    </div>
</footer>
</div>
</div>
</body>
</html>
