<footer>
    <div class="footer-container">
        <div class="footer-contato">
            <h4>Contato</h4>
            <p>
                Dúvidas, sugestões ou reclamações sobre o funcionamento do aplicativo, entrar em contato com: <a href="/">contato@appcivico.com</a>
            </p>
        </div>

        <div class="footer-parceiros">
            <h4>Parceiros</h4>
            <a class="link-parceiros link-nicbr" href="https://www.nic.br" target="_blank">NIC.br</a>
            <a class="link-parceiros link-w3c" href="http://www.w3c.br" target="_blank">W3C</a>
            <a class="link-parceiros link-appcivico" href="https://appcivico.com" target="_blank">AppCívico</a>

        </div>
    </div>
</footer>
